.board-container {
    border: 5px solid black;
    overflow: auto;
    height: 100vh;
    // height: 1000px;
    // width: 1500px;
    .board {
        float: left;
        .board-row {
            width: max-content;
        }
        .top-coordinates-panel {
            height: 30px;
            width: 100%;
            top: 0;
            position: sticky;
            z-index: 99;
            background-color: blue;
        }
        .left-coordinates-panel {
            height: 100%;
            width: 30px;
            left: 0;
            position: sticky;
            z-index: 99;
            background-color: purple;
        }
    }
}