.weapon-card {
    width: 210px;
    height: 350px;
    border: 10px solid rgb(17, 57, 131);
    margin: 5px;
    text-align: center;
    color: whitesmoke;
    &.highlight {
        filter: brightness(170%);
        &:hover {
            color: goldenrod;
            border: 10px solid goldenrod;
        }
    }
    &.needs-reload {
        border: 10px solid black;
        background-color: black !important;
    }
    &.common {
        background: rgba(128, 128, 128, 0.575);
    }
    &.rare {
        background: rgba(0, 100, 0, 0.555);
    }
    &.epic {
        background: rgba(128, 0, 128, 0.507);
    }
    &.legendary {
        background: rgba(218, 165, 32, 0.541);
    }
    .type {
        font-size: large;
    }
    .name {
        font-size: medium;
        background: rgba(255, 127, 80, 0.198);
    }
    .placeholder-text {
        color: white;
        font-size: large;
    }
    .specialSkill {
        font-size: medium;
    }
}